<div style="float:right;width: 30rem; height:fit-content;border: 1px solid saddlebrown;" id="summary">
    <legend><h2>The summarized text</h2></legend>
    <hr/>
    <% if (stat=="Successful") { %>
     <%- textSent %> 
    <% } else { %>
    <%-"Let your text be received! Be patient"%>
    <%}%>
     
</div>