<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text summarizer</title>
</head>
<body>
    <br/><br/><br/>
    <center>
        <form action="/submit" method="POST">
            <textarea id="tarea" tabindex="0" style="width:15rem;height: 10rem;resize: none;"  name="textName" placeholder="Enter the text to be summarized here" title="Text" required></textarea>
            <input type="submit" value="Generate summary"/>
        </form>
        <br/>
        <%-include ("partials/summarized.ejs") %> 
        <%-include ("partials/actual.ejs") %>
    </center>
    
</body>
</html>